{% extends "base.html" %}

{% block title %}
        WeZdoms home
{% endblock %}

{% block sidebar %}
    <i>Content owner: {{content_owner}}</i>
    &nbsp;
    {{request.path}}

{% endblock %}

{% block content %}
    <article>
        It is nice to see you!
        Welcome to shared wisdom from all of us.
        WE and gen Z.
        See public wisdoms or register as a memeber to add yours and find more.<br>
        <p>
            {{user}} and
            {% for p in perm %}
                 {{p}}<br>
            {% endfor %}
        </p>
    </article>
    {% firstof a b c "all empty" %}
    {% firstof a b c as var %}
    <p>{{ var|wordwrap:5 }}</p>
   <article>
       <form method="post" action="/rel/count_yes">
           {% csrf_token %}
           <input type="submit" value="yes">
       </form>
       <form method="post" action="/rel/count_no">
           {% csrf_token %}
           <input id="who" name="who" type="hidden" value="sergey">
           <input type="submit" value="no">
       </form>
   </article>
{% endblock %}